---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Content from '../components/Content.astro';
import { developments } from '../data/developments.ts';
---
<Layout>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-2 w-full p-2">
    {developments.map((project) => (
      <div>
        <Content 
          title={project.title}
          image={project.image}
          tags={project.tags}
          description={project.description}
          date={project.date}
          link={project.link}
        />
      </div>
    ))}
  </div>
</Layout>
